/*
 * global site styles
 * IMPORTANT: in CSS, the more specific rule takes over!
 */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;1,100&display=swap');
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Fraunces', serif;
}

h2 {
  font-size: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgb(159,159,159);
  background: linear-gradient(0deg, rgba(159,159,159,1) 0%, rgba(227,209,219,1) 8%, rgba(251,255,248,0.6148174157303371) 15%);  
}

.fruits {
  display: flex;
  width: 65%;
  height: 45vh;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.fruit {
  margin: 0.25rem;
}
